<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	
	<filter>
		<filter-name>setCharacterEncodingFilter</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<welcome-file-list>
		<welcome-file>jsp/users/login.jsp</welcome-file>
	</welcome-file-list>
	<display-name>YouSNS</display-name>
	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>com.yousns.dispatcher.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/users/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/posts/*</url-pattern>
	</servlet-mapping><servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/search/*</url-pattern>
	</servlet-mapping><servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/pages/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/groups/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/comments/*</url-pattern>
	</servlet-mapping>

</web-app>